@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

/* I don't know why Webstorm doesn't recognise light-dark in 2025 */
/*noinspection CssInvalidFunction*/
@theme {
    /* Courtesy of https://fullwindcss.com/ */
    --color-slate-50: #f8fafc;
    --color-slate-100: #f1f5f9;
    --color-slate-150: #e9eef4;
    --color-slate-200: #e2e8f0;
    --color-slate-250: #d6dee8;
    --color-slate-300: #cbd5e1;
    --color-slate-350: #afbccc;
    --color-slate-400: #94a3b8;
    --color-slate-450: #7c8ba1;
    --color-slate-500: #64748b;
    --color-slate-550: #55647a;
    --color-slate-600: #475569;
    --color-slate-650: #3d4b5f;
    --color-slate-700: #334155;
    --color-slate-750: #283548;
    --color-slate-800: #1e293b;
    --color-slate-850: #162032;
    --color-slate-900: #0f172a;
    --color-slate-950: #020617;

    --breakpoint-mobile: 56.25rem; /* 900px */
    --color-t1: light-dark(white, var(--color-slate-700));
    --color-t2: light-dark(var(--color-slate-200), var(--color-slate-600));
    --color-t3: light-dark(var(--color-slate-250), var(--color-slate-550));
    --color-t4: light-dark(var(--color-slate-300), var(--color-slate-500));
    --color-t5: light-dark(var(--color-slate-350), var(--color-slate-450));
}

:root {
    color-scheme: light dark;
}

body {
    @apply m-0 p-0 overflow-hidden;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
}

* {
    @apply dark:text-white;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.greyed {
    @apply dark:text-slate-400 text-slate-500;
}

h1 {
    @apply font-bold text-3xl;
}

h2 {
    @apply font-semibold text-2xl;
}

h3 {
    @apply font-semibold text-xl underline;
}

.panel {
    @apply rounded-lg bg-t1 p-4 shadow-2xl dark:shadow-2xl/40;
}

button {
    @apply p-2 rounded-md bg-blue-600 text-gray-300 font-semibold;
    transition: background-color ease-in-out 300ms, translate ease-in-out 300ms, box-shadow ease-in-out 300ms;
    &:not(:disabled) {
        @apply cursor-pointer bg-blue-500 text-white;
        &:hover {
            @apply bg-blue-600 -translate-y-0.5 shadow-xl shadow-black/20;
        }
    }
    &.confirm {
        @apply bg-green-500;
        &:hover {
            @apply bg-green-600;
        }
    }
}

hr {
    @apply my-2 border-t-gray-300;
}

input:not([type="radio"]), input[type="radio"] + label, textarea {
    @apply rounded-md bg-slate-100 p-2 dark:bg-slate-600 transition-colors border-b-2;

    /* Only mark valid radio buttons that are selected as green */
    &.valid:not(label), input:checked + &.valid {
        @apply dark:border-b-green-500 border-b-green-300;
    }
    input:not(:checked) + &.valid {
        @apply border-b-transparent;
    }

    &.invalid {
        @apply dark:border-b-red-500 border-b-red-300;
    }
    &.empty {
        @apply dark:border-b-sky-300 border-b-sky-300;
    }
    &.inactive, &:disabled {
        @apply border-b-0 opacity-50;
    }
}

/* Form elements that are inside a radio button */
input[type="radio"] + label :is(input:not([type="radio"]), input[type="radio"] + label) {
    @apply bg-t1;
}

.page-enter-active,
.page-leave-active {
    transition: translate 0.4s;
}
.page-enter-from {
    translate: calc(-1 * (50vw + 50%));
}
.page-leave-to {
    translate: calc(50vw + 50%);
}

a {
    @apply cursor-pointer;
}

/*noinspection CssInvalidFunction*/
.err-text {
    color: light-dark(#ec0606, #fe898b);
}